* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;

  background: var(--bg-color);

  color: var(--text-color);
}

a {
  text-decoration: none;

  color: inherit;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
}
